@using dxSampleDataGridAndReport.Models
@using dxSampleDataGridAndReport
@using Newtonsoft.Json;

<h2>Home</h2>
<script>
    function OnRowClick(e) {
        //window.location.href = "/Home/Viewer?paramData=" + JSON.stringify({
        //    reportName: "SampleReport",
        //    orderId = e.data.OrderID,
        //    orderDate = e.data.OrderDate});
        var myparams = JSON.stringify({
            reportName: "SampleReport",
            orderId: e.data.OrderID,
            orderDate: e.data.OrderDate
        });
        var url = '/Home/Viewer/?paramData=' + myparams;
        window.location.href = url;
    }
</script>

@(Html.DevExtreme().DataGrid<SampleOrder>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("OrderID"))
    .Columns(columns => {
        columns.AddFor(m => m.OrderID);
        columns.AddFor(m => m.OrderDate);
        columns.AddFor(m => m.CustomerName);
        columns.AddFor(m => m.ShipCountry);
        columns.AddFor(m => m.ShipCity);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
    .OnRowClick("OnRowClick")
    .Selection(s => s.Mode(SelectionMode.Single))
    .Summary(s => s
        .TotalItems(totalItems => {
            totalItems.AddFor(m => m.ShipCity).SummaryType(SummaryType.Count);
        })
        .GroupItems(groupItems => {
            groupItems.Add().SummaryType(SummaryType.Count);
        })
    )
)
